---
import About from '../../components/About/About.astro';
import BlogHome from '../../components/BlogHome.astro';
import { mainMenu } from '../../components/data/menuData';
import Footer from '../../components/Footer/Footer.astro';
import Header from '../../components/header/Header.astro';
import Hero from '../../components/hero/Hero.astro';
import Portfolio from '../../components/Portfolio.astro';
// import Skills from '../../components/skills/Skills.astro';
import Layout from '../../layouts/Layout.astro';
import { getTranslation } from '../../utils/getTranslation.js';

// Récupérer la langue via l'URL (ou utiliser 'en' par défaut)
const lang = new URL(Astro.request.url).pathname.replace(/^\/+/, '') || 'fr';

const translations = getTranslation(lang);
---

<Layout title="Grégory Leroux | Developer PHP">
	<Header origin={mainMenu} lang={lang} />
	<main class="self-center w-full">
		<!-- Passer la traduction au composant Hero -->
		<Hero translations={translations} />
		<About translations={translations} />
		<!-- <Skills /> -->
		<Portfolio lang={lang} translations={translations} />
		<BlogHome translations={translations} />
	</main>
	<Footer translations={translations} />
</Layout>
