---
import * as m from '../../paraglide/messages.js';
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/me.png"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido={m.aboutMe} />

			<p class="about__text" set:html={m.aboutMeDescription1()} />
			<p class="about__text">{m.aboutMeDescription2}</p>
			<ul class="about__text">
				{m.aboutSpecialized}
				{
					<li set:html={m.aboutMeSpecialization1()} />
					<li set:html={m.aboutMeSpecialization2()} />
				}
			</ul>
			<p class="about__text">{m.aboutMeDescription3}</p>
			<ul class="about__text">
				{m.aboutLetsConnect}
				{
					<li set:html={m.aboutMeConnect1()} />
					<li set:html={m.aboutMeConnect2()} />
				}
			</ul>
			<p class="about__text">{m.aboutMeDescription4}</p>

			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
