---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';

const { translations } = Astro.props;
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/me.png"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido={translations.aboutMe} />

			<p
				class="about__text"
				set:html={translations.aboutMeDescription1}
			/>
			<p class="about__text">{translations.aboutMeDescription2}</p>
			<ul class="about__text">
				{translations.aboutSpecialized}
				{
					translations.aboutMeSpecialization.map((item: string) => (
						<li set:html={item} />
					))
				}
			</ul>
			<p class="about__text">{translations.aboutMeDescription3}</p>
			<ul class="about__text">
				{translations.aboutLetsConnect}
				{
					translations.aboutMeConnect.map((item: string) => (
						<li set:html={item} />
					))
				}
			</ul>
			<p class="about__text">{translations.aboutMeDescription4}</p>

			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
