---
import { getCollection } from 'astro:content';
import Title from '../components/atoms/Title.astro';
import Boton from './atoms/Boton.astro';
import CardBlog from './CardBlog.astro';
import FormattedDate from './FormattedDate.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const { translations } = Astro.props;
---

<section
	id="blog"
	class="flex flex-col w-full justify-center items-center h-auto"
>
	<div class="blog__container">
		<Title contenido={translations.myArticles} />
		<div class="blog__elements">
			{
				posts.slice(0, 3).map((post) => (
					<CardBlog
						title={post.data.title}
						content={post.data.description}
						img={post.data.heroImage}
						href={`/blog/${post.slug}/`}
					>
						<FormattedDate
							slot="date"
							clase="text-white"
							date={post.data.pubDate}
						/>
					</CardBlog>
				))
			}
		</div>
	</div>
	<div class="flex justify-center m-5 max-w-full px-3">
		<Boton href="/blog" texto={translations.seeMore} />
	</div>
</section>

<style>
	.blog__container {
		padding: 8rem 3.1rem;
	}

	.blog__elements {
		max-width: var(--max-width);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 4rem;
	}
</style>
