---
import Title from "../components/atoms/Title.astro";
import { getCollection } from 'astro:content';
import Boton from "./atoms/Boton.astro";
import FormattedDate from "./FormattedDate.astro";
import CardBlog from "./CardBlog.astro";
const posts = (await getCollection('blog')).sort(
(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<section
	id="blog"
	class="flex flex-col w-full  justify-center items-center h-auto"
>
	<div class="blog__container">
		<Title contenido="My articles" />
		<div class="blog__elements">
			{
        posts.slice(0, 3).map((post) => (
          <CardBlog
          title={post.data.title}
            content={post.data.description}
            img={post.data.heroImage}
            href={`/blog/${post.slug}/`}>
  
           <FormattedDate  slot="date" clase="text-white" date={post.data.pubDate}/>
           </CardBlog>
        ))
      }
		</div>
	</div>
  <div class="flex justify-center m-5 max-w-full px-3">
    <Boton href="/blog" texto="See more"/>
  </div>
</section>

<style>
	.blog__container {
		padding: 8rem 3.1rem;
	}

	.blog__elements {
		max-width: var(--max-width);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 4rem;
	}
</style>
