---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'simple-icons:linkedin',
		href: 'https://www.linkedin.com/in/gregoryleroux/',

	},
	{
		title: 'Github',
		icon: 'mdi:github',
		href: 'https://github.com/lrxgregory/',

	},
	{
		title: 'CV',
		icon: 'tabler:file-cv',
		href: 'https://drive.google.com/file/d/1K_OGl6GLBrHtgyFbQSAyE5YgyHSXJK_3/view',
	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
	.icons__container {
		display: flex;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.skill__icon{
	color:#fcc22d;
}

	.LinkedIn:hover{
		color: #fcd62d;
	}
	.Github:hover{
	color: #fcd62d;
	}
	.Tiwtter:hover{
	color: #fcd62d;
	}
	.CV:hover{
		color:#fcd62d;
	}



</style>